<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Search By Country</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-countries-input
        (onSearch)="search($event)"
        (onDebounce)="showSuggestions($event)"
        inputPlaceholder="Search a country"
      ></app-countries-input>
    </div>
  </div>

  <ul class="list-group" *ngIf="isShowSuggestions">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let country of suggestedCountries"
    >
      <a class="nav-link" [routerLink]="['/country', country.alpha2Code]">
        {{ country.name }}
      </a>
    </li>

    <li
      class="list-group-item list-group-item-action"
      (click)="search(searchTerm)"
    >
      <a class="nav-link"> Search "{{ searchTerm }}" </a>
    </li>
  </ul>

  <hr />
</div>

<div class="alert alert-danger" *ngIf="isError">
  Nohting was found for the term "{{ searchTerm }}"
</div>
<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-countries-table [countries]="countries"></app-countries-table>
  </div>
</div>
