<h2>Search By Country</h2>
<hr />

<div class="row">
  <div class="col">
    <app-countries-input
      (onSearch)="search($event)"
      (onDebounce)="showSuggestions($event)"
      inputPlaceholder="Search a country"
    ></app-countries-input>
  </div>
</div>
<hr />
<div class="alert alert-danger" *ngIf="isError">
  Nohting was found for the term "{{ searchTerm }}"
</div>
<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-countries-table [countries]="countries"></app-countries-table>
  </div>
</div>
