<h2>By Country</h2>
<hr />

<div class="orw">
  <div class="col">
    <form (ngSubmit)="search()">
      <input
        autocomplete="off"
        type="text"
        name="searchTerm"
        class="form-control"
        [(ngModel)]="searchTerm"
        placeholder="Search country"
      />
    </form>
  </div>
</div>
<hr />
<div class="alert alert-danger" *ngIf="isError">
  Nohting was found for the term "{{ searchTerm }}"
</div>
<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-countries-table [countries]="countries"></app-countries-table>
  </div>
</div>
