<table
  class="table table-hover"
  *ngFor="let country of countries; let i = index"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Capital City</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ i + 1 }}</td>
      <td>
        <img
          class="small-flag"
          [src]="country.flag"
          alt="{{ country.name }}'s flag"
        />
      </td>
      <td>{{ country.name }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a [routerLink]="['/country', country.alpha2Code]">See more</a>
      </td>
    </tr>
  </tbody>
</table>
